target/
*/target/
**/target/
.project
*/.project
**/.project
.classpath
*/.classpath
**/.classpath
.settings/
*/.settings/
**/.settings/
.idea/
*/.idea/
**/.idea/
*.iml
.DS_Store
*/.DS_Store
**/.DS_Store
build/
*/build/
**/build/
deploy/lib/
*/deploy/lib/
**/deploy/lib/
logs/
*/logs/
**/logs/